[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
	branch = tags/7.1.3
[submodule "extern/sdl"]
	path = extern/sdl
	url = https://github.com/libsdl-org/SDL.git
	branch = tags/release-2.0.14
[submodule "extern/imgui-docking"]
	path = extern/imgui-docking
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "extern/freetype"]
	path = extern/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
